<h2 class="ui center aligned header">
  Welcome to MessageMe - a complete Chat App
</h2>

<h4 class="ui center aligned medium icon header">
  <i class="circular power off icon orange"></i>
  Log in to continue
</h4>

<%= render 'login' %>