<div class="ui feed">
  <div class="event">
    <div class="content">
      <div class="summary">
        <em>Christian Rocha:</em> Text a message
      </div>
    </div>
  </div>
</div>


