<h4 class="ui center aligned medium icon header">
  <i class="circular coffee icon orange"></i>
  Say Something!
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <%= render 'chatbox', messages: @messages %>
      </div>
      <div class="extra content">
        <%= render 'input_message' %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <%= render 'list_users' %>
      </div>
    </div>
  </div>
</div>